.LoginForm {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 200px;
}

.LoginForm-input {

}

.LoginForm-label {
    margin: 8px 0 2px;
    text-align: left;
}

.LoginForm-button {
    margin-top: 8px;
    align-self: flex-end;
    padding: 2px 8px;
}

.LoginForm-error {
    color: darkred;
}
